<!DOCTYPE html>
<html lang="en">

<head>
	<title>School Menu</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="generator" content="{{ eleventy.generator }}">

	<link rel="stylesheet" type="text/css" href="/public/css/style.css">
	<link rel="stylesheet" type="text/css" href="/public/css/print.css" media="print">
</head>

<body>

	{{ content | safe }}

  <script nomodule src="/public/js/es5bundle.main.js"></script>
	<script type="module" src="/public/js/main.js"></script>
</body>

</html>
